<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Revision de citas</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Gerente Citas"></p:staticMessage>
	</h:form>
	<div>
		<h:form>
			<h:panelGrid columns="4" cellpadding="7">
				<p:outputLabel for="@next" value="Numero de Cita" />
				<p:spinner value="#{beanSalEnfermera.idSalCarnet}" />
				<p:commandButton value="Aprobar Cita"
					styleClass="rounded-button ui-button-success" update="@form,:tabla"></p:commandButton>
				<p:commandButton value="Cancelar Cita"
					styleClass="rounded-button ui-button-danger" update="@form,:tabla"></p:commandButton>
			</h:panelGrid>
		</h:form>
		<h:form id="tabla">
			<p:dataTable value="#{beanSalEnfermera.listaCarnet}" var="c"
				emptyMessage="Aún no han registrado citas">
				<p:column headerText="Numero de Cita">
					<h:outputText value="#{c.idSalCarnet}" />
				</p:column>
				<p:column headerText="DESCRIPCION">
					<h:outputText value="#{c.cedulaEstudiante}" />
				</p:column>
				<p:column headerText="FECHA SOLICITADA">
					<h:outputText value="#{c.fecha1}" />
				</p:column>
				<p:column headerText="ESTADO">
					<h:outputText value="#{c.verificado}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:button icon="pi pi-times"
						styleClass="rounded-button ui-button-danger" />
					<p:button icon="pi pi-check" styleClass="rounded-button" />
				</p:column>
			</p:dataTable>
		</h:form>
	</div>
</body>
</html>
