<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Pagos cliente</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Lista de Pagos" icon="pi pi-list" action="/menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Cliente Pagos"></p:staticMessage>
	</h:form>
	<div>
		<p:panelGrid columns="2">
			<p:panelGrid columns="2">
				<f:facet name="header">
					<p:avatar icon="pi pi-user"
						style="height: 100%;width: 100%; display: block;" />
				</f:facet>

				<h:outputText value="Nombre: " />
				<h:outputText value="Luis" />

				<h:outputText value="Apellido " />
				<h:outputText value="Diaz" />

				<h:outputText value="Correo " />
				<h:outputText value="lpdiazd@utn.edu.ec" />

				<h:outputText value="Descripcion Depatamento" />
				<h:outputText value="3 cuartos, 1 baño" />

				<h:outputText value="Numero: " />
				<h:outputText value="4" />
			</p:panelGrid>
			<h:form id="tabla">
				<p:dataTable value="#{beanSalEnfermera.listaCarnet}" var="c"
					emptyMessage="No tiene pagos pendientes">

					<p:column headerText="Fecha de pagos">
						<h:outputText value="#{c.fecha1}" />
					</p:column>
					<p:column headerText="Estado">
						<h:outputText value="#{c.verificado}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panelGrid>
	</div>
</body>
</html>
